*{
    margin:0;
    padding:0;
    
}
html {
    scroll-padding-top: 75px; 
    scroll-behavior: smooth; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 70px;
}
#encabezado{
    background-color: gray;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    z-index: 10;
}
.nombre{
    font-family: avigea;
    font-size: 30px;
    font-weight: body;
    color: black;
    margin-left: 20px;
}
#secciones{
    width: 350px;
    height: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#secciones a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
}
#secciones a:hover{
    color: white;
    transform: translateY(-5px);
}


#principal{
    background-color: skyblue;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card1{
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor1{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.card-nombre{
    color:rgb(67, 67, 67);
    font-size: 30px;
    font-family: avigea; 
    margin-top: 100px;
    margin-bottom: 20px;
}
.card-descripcion{
    color:black;
    font-family: Arial;  
    padding-left: 100px;
}
.contenedor2{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-img{
    background-image: url(../assets/mi\ foto.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    margin-left: 300px;
    border-radius: 100px;
    background-position: center;
    box-shadow: 0 0 10px rgb(4, 177, 225),
    0 0 20px rgb(4, 177, 225),
    0 0 10px rgb(4, 177, 225);
}
.boton-descarga{
    padding: 20px 30px;
    margin-top: 30px;
    margin-right: 340px;
    background-color: rgb(0, 204, 255);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}
.boton-descarga:hover{
    background-color: rgb(95, 95, 95);
    transform: translateY(-7px);

}




#principal2{
    background-color: white;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card2{
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.subtitulo{
    color: rgb(67, 67, 67);
    font-size: 30px;
    font-family: avigea; 
    margin-left: 50px;
    margin-top: 30px;
}
.descripcion_personal{
    color: rgb(0, 0, 0);
    font-family: arial; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    justify-content: start;
    align-items: start;
}
.contenedor_principal{
    width: 950px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-top: 15px;
}
.contenido_sobremi{
    width: 250px;
    height: 270px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px ;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4),
    12px 12px 0px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s;
}
.contenido_sobremi:hover{
    transform:translateY(-7px) ;
}
.titulo1{
    padding-bottom: 50px;
    margin-top: 15px;
    font-family: arial;
    color: gray;
}
.parrafo1 li{
    margin-bottom: 20px;
    margin-left: 5px;
    color: black;
    font-family: clarendon BT;
}
.contenido_especial{
    width: 250px;
    height: 270px;
    margin-right: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4),
    12px 12px 0px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s;
}
.contenido_especial:hover{
    transform:translateY(-7px) ;
}
.titulo2{
    margin-bottom: 50px; 
    margin-top: 15px;
    font-family: arial;
    color: gray;
}
.tecnologias{
    width: 70%;
    margin-top: -20px;
    border-radius: 5px;
    overflow: hidden;
}
.nombre-tecnologia{
    color: rgb(2, 2, 2);
    padding: 5px 10px;
    font-family: tahoma;
}




#principal3{
    background-color: skyblue;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card3{
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.subtitulo2{
    color: rgb(67, 67, 67);
    font-size: 30px;
    font-family: avigea; 
    margin-top: 30px;
    margin-left: 50px;
}
.contenedor-proyectos{
    width: 980px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 20px;
}
.proyecto1{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
    
}
.proyecto1:hover{
    transform:translateY(-7px) ;
}
.img1{
    background-image: url(../assets/planta.png);
    background-size: cover;
    width: 250px;
    height: 230px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.titulo-proyecto1{
    color: rgb(52, 52, 52);
    font-family: arial;
    margin-bottom: 5px;
}
.BioSync{
    color: rgb(0, 0, 0);
    padding: 3px;
}
.vinculo1{
    text-decoration: none;
    color: blue;
    transition: transform 0.3s;
}
.vinculo1:hover{
    color: rgb(0, 174, 255);
    transform: translateY(-2px);
}
.proyecto2{
    width: 300px;
    height: 400px;
    
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s;
}
.proyecto2:hover{
    transform:translateY(-7px) ;
}
.img2{
    background-image: url(../assets/logo\ diseño\ grafico.jpg);
    background-size: cover;
    width: 250px;
    height: 230px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.titulo-proyecto2{
    color: rgb(52, 52, 52);
    font-family: arial;
    margin-bottom: 5px;
}
.diseño_grafico{
    color: rgb(0, 0, 0);
    padding: 15px;
}
.vinculo2{
    text-decoration: none;
    color: blue;
    transition: transform 0.3s;
}
.vinculo2:hover{
    color: rgb(0, 174, 255);
    transform: translateY(-2px);
}

.proyecto2{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}
.proyecto2:hover{
    transform:translateY(-7px) ;
}
.img3{
    background-image: url(../assets/freeCodeCamp.png);
    background-size: cover;
    width: 250px;
    height: 230px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.titulo-proyecto2{
    color: rgb(52, 52, 52);
    font-family: arial;
    margin-bottom: 5px;
}
.diseño_grafico{
    color: rgb(0, 0, 0);
    padding: 15px;
}
.vinculo2{
    text-decoration: none;
    color: blue;
    transition: transform 0.3s;
}
.vinculo2:hover{
    color: rgb(0, 174, 255);
    transform: translateY(-2px);
}





.card4{
    margin-top: 100px;
    background:white;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    
}
.subtitulo3{
    color: rgb(67, 67, 67);
    font-size: 30px;
    font-family: avigea; 
    margin-left: 50px;
    margin-top: 30px;
}
.contenedor-contactos{
    width: 900px;
    height: 371px;
    margin-left: 48px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.cuentas{
    width: 300px;
    height: 350px;
    background: white;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4),
    12px 12px 0px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s;
}
.cuentas:hover{
    transform: translateY(-7px);
}
.whatsaap img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
}
.whatsaap{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    transition: transform 0.3s;
}
.whatsaap:hover{
    transform: translateY(-7px);
}
.facebook img{
    width: 50px;
    height: 50px;  
    margin-left: 30px;
}
.facebook{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px; 
    color: black;
    transition: transform 0.3s;
}
.facebook:hover{
    transform: translateY(-7px);
}
.linkedin img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.linkedin{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px; 
    color: black;
    transition: transform 0.3s;
}
.linkedin:hover{
    transform: translateY(-7px);
}
.formulario{
    width: 300px;
    height: 350px;
    background: white;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4),
    12px 12px 0px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s;
}
.formulario:hover{
    transform: translateY(-7px);
}
.formulario label{
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    color: black;
}
.formulario input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 2px solid #666666;
    border-radius: 15px;
    box-sizing: border-box;
}
.formulario button{
    background-color: rgb(0, 204, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin-left: 120px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
button:hover{
    background-color: rgb(255, 89, 0);
    transform: translateY(-7px);
}
.copyright{
    width: 100%;
    height: 100px;
    background-color: skyblue;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.derechos{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
