*{
    margin:0;
    padding:0;
    
}
body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: black;
    border-radius: 50px;
    width: 1000px;
    height: 65px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5PX;
    margin-left: 190px;
    box-shadow: 0 0 10px rgb(14, 250, 14), 0 0 20px rgba(0, 255, 0, 0.888),
    0 0 30px rgb(0, 255, 0), inset 0 0 5px rgba(4, 201, 4, 0.8);
}

nav a{
    text-decoration: none;
    color: white;
    padding-left: 40px;
    text-align: center;
    padding-right: 20px;
    border-radius: 20px;
    transition: color 0.3s ease;
    transition: transform 0.3s;
}
nav a:hover{
    color: lime;
    transform: translateY(-3px);
}
.nombre{
    color: rgb(0, 183, 255);
    margin-right: 400px;
    font-size: 25px;
    font-family: avigea;
    text-shadow: 0 0 20px rgb(4, 218, 251)
}
.contenedor1{
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
}





.card1{
    margin-top: 105px;
    background: black;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    align-items: start;
    box-shadow: 0 0 10px rgb(255, 89, 0),
    0 0 20px rgb(255, 89, 0),
    inset 0 0 5px rgb(255, 89, 0);
    
}
.contenedor1{
    width: 400px;
    height: 400px;
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
}
.card-nombre{
    color:rgb(6, 158, 240);
    font-size: 30px;
    font-family: avigea; 
    margin-left: 75px;
    padding-bottom: 50px;
    padding-top:100px;
}
.card-descripcion{
    color:rgb(255, 67, 4);
    font-family: Arial;  
    padding-left: 100px;
    
}
.contenedor2{
    width: 500px;
    height: 400px;
    margin-top: 40px;
    margin-left: 10px;
}
.card-img{
    background-image: url(../assets/mi\ foto.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 200px;
    margin-top: 100px;
    background-position: center;
    box-shadow: 0 0 10px rgb(237, 42, 75), 0 0 20px rgb(239, 12, 167);
}
.boton-descarga{
    display: inline-block;
    padding: 20px 30px;
    margin-top: 30px;
    margin-right: 50px;
    background-color: rgb(0, 204, 255);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}
.boton-descarga:hover{
    background-color: rgb(255, 89, 0);
    transform: translateY(-7px);

}





.card2{
    margin-top: 100px;
    background:black;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(38, 255, 0),
    0 0 20px rgb(0, 255, 21),
    inset 0 0 5px rgba(0, 253, 8, 0.932);
}
.subtitulo{
    color: rgb(6, 158, 240);
    font-size: 30px;
    font-family: avigea; 
    margin-left: 50px;
    margin-top: 30px;
}
.descripcion_personal{
    color: rgb(255, 89, 0);
    font-family: arial; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    justify-content: start;
    align-items: start;
}
.contenedor_principal{
    width: 950px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-top: 15px;
}
.contenido_sobremi{
    width: 250px;
    height: 270px;
    background-color: black;
    margin-left: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(238, 0, 255),
    0 0 20px rgb(255, 0, 255),
    inset 0 0 5px rgba(253, 0, 215, 0.932);
    transition: transform 0.3s;
}
.contenido_sobremi:hover{
    transform:translateY(-7px) ;
}
.titulo1{
    padding-bottom: 50px;
    margin-top: 15px;
    font-family: arial;
    color: rgb(230, 0, 96);
}
.parrafo1 li{
    margin-bottom: 20px;
    margin-left: 5px;
    color: rgb(178, 174, 174);
    font-family: clarendon BT;
}
.contenido_especial{
    width: 250px;
    height: 270px;
    background-color: black;
    margin-right: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(0, 187, 255),
    0 0 20px rgb(0, 157, 255),
    inset 0 0 5px rgba(0, 148, 253, 0.932);
    transition: transform 0.3s;
}
.contenido_especial:hover{
    transform:translateY(-7px) ;
}
.titulo2{
    margin-bottom: 50px; 
    margin-top: 15px;
    font-family: arial;
    color: rgb(6, 158, 240);
}
.tecnologias{
    width: 70%;
    margin: 10px 0;
    border: 1px solid #eb0b0b;
    border-radius: 5px;
    overflow: hidden;
}
.nombre-tecnologia{
    background-color: #0e21f5;
    padding: 5px 10px;
    font-weight: bold;
}
.barra-progreso{
    height: 20px;
    background-color: aqua;
}
.progreso{
    height: 100%;
    background-color:rgb(10, 254, 10);
}
.porcentage{
    padding: 5px 10px;
    text-align: right;
}





.card3{
    margin-top: 100px;
    background: black;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(255, 89, 0),
    0 0 20px rgb(255, 89, 0),
    inset 0 0 5px rgb(255, 89, 0);
}
.subtitulo2{
    color: rgb(6, 158, 240);
    font-size: 30px;
    font-family: avigea; 
    margin-left: 50px;
    margin-top: 30px;
}
.contenedor-proyectos{
    width: 900px;
    height: 420px;
    margin-left: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proyecto1{
    position: relative;
    width: 300px;
    height: 400px;
    background: black;
    margin: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(0, 187, 255),
    0 0 20px rgb(0, 157, 255),
    inset 0 0 5px rgba(0, 148, 253, 0.932);
    transition: transform 0.3s;
    
}
.proyecto1:hover{
    transform:translateY(-7px) ;
}
.img1{
    background-image: url(../assets/planta.png);
    background-size: cover;
    width: 250px;
    height: 230px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.titulo-proyecto1{
    color: lime;
    font-family: arial;
    margin-bottom: 5px;
}
.BioSync{
    color: gray;
    padding: 3px;
}
.vinculo1{
    text-decoration: none;
    color: blue;
    transition: transform 0.3s;
}
.vinculo1:hover{
    color: rgb(0, 174, 255);
    transform: translateY(-3px);
}
.proyecto2{
    width: 300px;
    height: 400px;
    background-color:black;
    margin: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(238, 0, 255),
    0 0 20px rgb(255, 0, 255),
    inset 0 0 5px rgba(253, 0, 215, 0.932);
    transition: transform 0.3s;
}
.proyecto2:hover{
    transform:translateY(-7px) ;
}
.img2{
    background-image: url(../assets/logo\ diseño\ grafico.jpg);
    background-size: cover;
    width: 250px;
    height: 230px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.titulo-proyecto2{
    color: lime;
    font-family: arial;
    margin-bottom: 5px;
}
.diseño_grafico{
    color: gray;
    padding: 15px;
}
.vinculo2{
    text-decoration: none;
    color: blue;
    transition: transform 0.3s;
}
.vinculo2:hover{
    color: rgb(0, 174, 255);
    transform: translateY(-3px);
}





.card4{
    margin-top: 100px;
    background:black;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(38, 255, 0),
    0 0 20px rgb(0, 255, 21),
    inset 0 0 5px rgba(0, 253, 8, 0.932);
}
.subtitulo3{
    color:rgb(6, 158, 240);
    font-size: 30px;
    font-family: avigea; 
    margin-left: 50px;
    margin-top: 30px;
}
.contenedor-contactos{
    width: 900px;
    height: 371px;
    margin-left: 48px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.cuentas{
    width: 300px;
    height: 350px;
    background: black;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(238, 0, 255),
    0 0 20px rgb(255, 0, 255),
    inset 0 0 5px rgba(253, 0, 215, 0.932);
    transition: transform 0.3s;
}
.cuentas:hover{
    transform: translateY(-7px);
}
.whatsaap img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
}
.whatsaap{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    color: aqua;
    transition: transform 0.3s;
}
.whatsaap:hover{
    transform: translateY(-7px);
}
.facebook img{
    width: 50px;
    height: 50px;  
    margin-left: 30px;
}
.facebook{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px; 
    color: aqua;
    transition: transform 0.3s;
}
.facebook:hover{
    transform: translateY(-7px);
}
.linkedin img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.linkedin{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px; 
    color: aqua;
    transition: transform 0.3s;
}
.linkedin:hover{
    transform: translateY(-7px);
}
.formulario{
    width: 300px;
    height: 350px;
    background: black;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(0, 187, 255),
    0 0 20px rgb(0, 157, 255),
    inset 0 0 5px rgba(0, 148, 253, 0.932);
    transition: transform 0.3s;
}
.formulario:hover{
    transform: translateY(-7px);
}
.formulario label{
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    color: aqua;
}
.formulario input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 2px solid #0e21f5;
    border-radius: 15px;
    box-sizing: border-box;
}
.formulario button{
    background-color: rgb(0, 204, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin-left: 120px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
button:hover{
    background-color: rgb(255, 89, 0);
    transform: translateY(-7px);
}
.copyright{
    width: 100%;
    height: 60px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(255, 89, 0),
    0 0 20px rgb(255, 89, 0),
    inset 0 0 5px rgb(255, 89, 0);
}
.derechos{
    text-decoration: none;
    color: white;
    font-size: 20px;
}